.nav-bar{
    display: flex;
}
.logo{
    margin: 15px 10px;
    font-size: 30px;
    font-weight: bolder;
    color: blue;
    padding-right: 300px;
}

.nav-bar ul{
    list-style-type: none;
    display: flex;
}
.nav-bar ul li{
    padding-top: 10px;
    padding-left: 30px;
    
}
.nav-bar ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.folio{
    display: flex;
    max-width: 1200px;
}
.port{
    flex: 1;
    min-width: 50%;
    margin: 120px;
}
.port p{
    font-weight: bold;
    margin-top: -10px;
}
.port h1{
    font-size: 50px;
    margin-top: -20px;
}
.port h3{
    font-size: 25px;
    margin-top: -40px;
    color: blue;
}
.port button{
    padding: 10px 20px;
    color: whitesmoke;
    background-color: blue;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.port button:hover{
    transform: scale(1.1);
    box-shadow: 2px;
}

.folio .img{
    flex: 2;
    min-width: 50%;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.image img{
    height: 400px;
    border-radius: 8px;
}

footer{
    height: 100px;
    background-color: rgb(211, 234, 234);
}
